.category-mobile{
    padding: 10px;
    /* position: fixed;
    top: 0px;
    left: -12px; */
    overflow-x: hidden;
    overflow-y: hidden;  
}

.category-container{
    display: flex;
    gap: 10px;
    align-items: center;
}

.category-container li{
    padding: 5px;
}

.category-container img{
    border: 3px solid gray;
}


.category-mobile:hover{
    overflow-x: auto;
    overflow-y: hidden;
}




#category-scroll::-webkit-scrollbar-track
{
   -webkit-box-shadow: inset 0 0 6px rgb(227 217 217 / 90%);
   border-radius: 10px;
   background-color: #fffcfc;
}

#category-scroll::-webkit-scrollbar
{
    height: 5px;
    background-color: #F5F5F5;
}

#category-scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #a19b9b;

}


.category-name{
    font-size: 1rem;
    font-weight: 500;
}
