.category-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--secondary);
}
.category-item {
    padding: 10px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    cursor: pointer;
}
.category-item a{
    text-decoration: none;
    color: var(--secondary);
}
.category-item a:hover{
    color: rgba(210,165,53,1);
}

.active-category{
    color: rgba(210,165,53,1);
}

/* .category-item a{
    height: auto;
    cursor: pointer;
} */

.main {
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

form {
    position: relative !important;
}


/* Menuuuuuuuuuuuuuuuuu */

/* Menu */
.menu {
    position: relative;
}

.menu-mobile {
    display: none;
}

@media only screen and (max-width:768px) {
    .menu {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .menu-mobile {
        /* background: white; */
        padding-top: 10px;
        border-radius: 10px;
        position: fixed;
        top: -10px;
        left: 0;
        right: 12px;
    }


    .menu-mobile .bg-menu{
        background: white;
        margin-bottom: 5px;
        padding: 10px;
    }
   
    .menu-mobile .icon-list .icon {
            text-decoration: none;
            font-size: 1.5rem;
            padding: 6px;
            /* background: #fff; */
            border-radius: 50px;
            margin: 0px 5px;
            text-align: center;
            color: var(--secondary-color);
            width: 40px;
    }

    .menu-mobile .nav-list .form-control , .menu-mobile .nav-list span{
        font-size: 0.8rem;
        top: 0;
    }
    .banner{
        margin-top: 10.7rem !important;
    }
    .banner a{
        font-size: 0.5rem !important;
    }
    .main {
        padding: 10px !important;
    }
}
.nav-list li:first-child {
    width: 100%;
}

.fa-search {
    font-size: 1.5rem;
    position: absolute;
    padding: 1rem;
    z-index: 2;
    color: var(--secondary-color);
    top: -5px;
}

.form-control {
    padding-left: 2.5rem !important;
}

.form-search .form-control {
    border-radius: 0px 10px 10px 0px !important;
    padding: 0.375rem 2.75rem !important;
}

.form-search a {
    border-radius: 10px 0px 0px 10px;
}

.nav-list form {
    position: relative;
}



.icon {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0px;
    background: #fff;
    border-radius: 50px;
    margin: 0px 5px;
    text-align: center;
    color: var(--secondary-color);
    width: 40px;
}


.icon-list {

    padding: 0;
    margin: 0;
}



.banner {
    height: auto;
    margin-top: 1rem;
}


.banner .row {
    height: 100%;
    /* padding: 10px; */
}

.banner2 {
    background: #ffffff;
    height: 100%;
    border-radius: 15px;
}

.banner-01,
.banner-02 {
    background: #ffffff;
    height: 48%;
    border-radius: 15px;
}

.banner-01 h3 , .banner-02 h3{
    font-size: 1rem !important;

}
.banner-01 {
    margin-bottom: 12px;
}

.banner-02 {
    margin-bottom: 12px;
}

.banner2 img , .banner-01 img , .banner-02 img {
    margin: auto;
}
@media only screen and (max-width:770px) {
    .banner2 {
        margin-top: 12px;
    }
}

.banner2 .text p {
    font-size: 1rem;
    font-weight: 500;
}

.banner2 .text h3 {
    font-size: 1.5rem;
}


.banner2 .text {
    /* margin-left: 15px; */
    margin: auto;
}

.banner2 img {
    height: 100%;

}

.banner .text {
    /* padding-top: 1rem; */
    margin: auto;
}



.banner-02 img,
.banner-01 img {
    height: 100px;
}

.banner-02 .text p {
    font-size: 0.8rem;
    /* margin: 0; */
}

.banner-02 .text span {
    font-size: 1rem;
    font-weight: 500;
}

.banner-02 .text button {
    font-size: 0.5rem;
}



.banner-01 .text p {
    font-size: 0.8rem;
    /* margin: 0; */
}

.banner-01 .text span {
    font-size: 1rem;
    font-weight: 500;
}

.banner-01 .text button {
    font-size: 0.5rem;
}


/* Home */

.title span {
    font-size: 1.6rem;
    font-weight: 600;
}

.see {
    justify-content: flex-end;
}

.products{
    margin-top: 1rem;
}


.product-name{
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis ;
    white-space: nowrap;
}

.btn-see {
    background: #fff !important;
    border-radius: 20px !important;
    padding: 5px 20px;
    border: 1px solid #fff;
    float: left;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}
.btn-see:hover {
    background: #fff !important;
    border-radius: 20px !important;
    padding: 5px 20px;
    border: 1px solid #fff;
    color:rgba(210,165,53,1);
    float: left;
    position: relative;
    text-decoration: none;
}
.btn-see i{
    position: absolute;
}

@media only screen and (max-width:768px) {
    .category {
        display: none;
    }
  
    .btn-see {
        float: left;
    }
}

@media only screen and (max-width:960px) {
    .category h3 {
        font-size: 1rem;
    }

}

.card-body h4 {
    font-size: 1rem;
    cursor: pointer;
}

.price {
    font-weight: 600;
}
.card-style {
    background: var(--card-color);
    border-radius: 15px;
}

.img-card {
    width: 100%;
    height: 150px;
}

.img-card img{
    margin: auto;
    border-radius: 15px;
}



/* category-mobile */

.category-mobile {
    display: none;
}

@media only screen and (max-width:768px) {
    .category-mobile {
        display: block;
        width: 100%;
    }
    .products{
        margin-top: 11rem !important;
    }
    .card-body h4{
        font-size: 0.9rem;
    }
    /* .main{
    margin-top: 4.5rem !important;
  } */

}


/* Product */
/* Loading */

.spinner{
    font-size: 3rem;
    margin-top: 1.5rem;
}



/* ********************************************************* */
                        /* Shimmer Css */
/* ********************************************************* */

.loader .value{
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    /* background: linear-gradient(to right , #F6F6F6 8% , #F0F0F0 18% , #F6F6F6 33% ); */
    background: #d9c2c280;
    background-size: 1200px 100%;
    height: 12px;
    border-radius: 15px;
}

.loader .img-card {
    height: 180px;
    width: 100%;
}

@keyframes shimmer{
    0%{
        background-size: -1200px 0 ;
    }
    100%{
        background-size: 1200px 0 ;
    }
}